<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
  <p class="text-secondary mb-1 mb-md-0">
    Copyright © 2025 
    <a href="https://www.web-boxx.com" target="_blank">Web-Boxx</a>.
    &nbsp;|&nbsp;
    <a href="/agb" class="text-secondary">AGB</a>
    &nbsp;|&nbsp;
    <a href="/data-protection-law" class="text-secondary">Datenschutz</a>
    &nbsp;|&nbsp;
    <a href="/impressum" class="text-secondary">Impressum</a>
  </p>
  <p class="text-secondary">UI Design Handcrafted With 
    <i class="feather icon-heart mb-1 text-primary ms-1 icon-sm"></i> from NobleUI
  </p>
</footer>
